In [15]:
import pandas as pd
# path = "~/c/Users/gordon/Desktop/"

df1 = pd.read_csv("../../../dataVault/waste_edge_booking_data/1.csv")
df1['Customer number']

0         4135.000
1         3340.000
2         4065.000
3         3932.000
4         3932.000
            ...
242775    2459.012
242776    3973.000
242777    3552.000
242778    3886.000
242779    3028.000
Name: Customer number, Length: 242780, dtype: float64

In [16]:
df2 = pd.read_csv("../../../dataVault/waste_edge_booking_data/2.csv")
df2

,Job No,Date,Schd Time Start,Schd Time End,Latitude,Longitude,Customer number,Customer Name,Site Name,Address 1,...,Alternate Ref No 2,Alternate Service Ref 1,Alternate Service Ref 2,Notes,Directions,CheckLists,Waste Type,Tip Site,Price,PO
0,2618756.0,22/01/21,12:19,06:35,151.168271,-33.864764,4310.0,Local Bar Rozelle,NaN,729 Darling St,...,NaN,NaN,NaN,NaN,bins presented kerbside on Cambridge St,NaN,Comingle,NaN,8.80,NaN
1,2618762.0,22/01/21,12:18,06:38,151.138844,-33.880779,4445.0,Haba Ocean,NaN,94A Ramsay Street,...,NaN,NaN,NaN,NaN,Bins on kerb next to roller door entry via Da...,NaN,Comingle,NaN,13.20,NaN
2,2618754.0,22/01/21,12:15,06:35,151.138540,-33.880616,4376.0,Happyfield Haberfield,NaN,96 Ramsay St,...,NaN,NaN,NaN,NaN,bins presented kerbside,NaN,Comingle,NaN,79.20,NaN
3,2601301.0,22/01/21,00:00,00:00,115.762050,-31.739779,3919.0,Toymate - Joondalup,NaN,151 Winton Rd,...,NaN,NaN,NaN,NaN,NaN,NaN,Paper/Cardboard,NaN,69.17,NaN
4,2607936.0,22/01/21,00:00,06:08,151.205418,-33.912475,4162.0,2 Evolve Pty Ltd,NaN,14A Mentmore Ave,...,NaN,NaN,NaN,NaN,BINS ARE NOW IN MENTMORE AVE,NaN,Comingle,NaN,13.84,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257837,2407043.0,22/07/20,NaN,10:16,151.222345,-33.883567,1012.0,Strata Plan 19873,Angus Property,2-16 Glenmore Road,...,NaN,NaN,NaN,NaN,Please put bins back in original spot. Bins in...,NaN,Comingle,NaN,21.56,NaN
257838,2407044.0,22/07/20,NaN,13:18,151.213561,-33.886290,3143.0,Callay Group Pty Ltd T/A Cuckoo Callay,NaN,413 - 415 Crown St,...,NaN,NaN,NaN,NaN,COLLECTION AFTER 7AM bin presented behind the...,NaN,Comingle,NaN,24.40,NaN
257839,2407045.0,22/07/20,NaN,13:18,151.211405,-33.882813,4265.0,Albion Studios Pty Ltd T/A Squillace,NaN,1/80 Albion St,...,NaN,NaN,NaN,NaN,bins located in garbage room access via Little...,NaN,Comingle,NaN,66.00,NaN
257840,2407046.0,22/07/20,NaN,10:15,151.242349,-33.875789,3767.0,Bedouin Restaurant Lounge Bar,NaN,53 Cross St,...,NaN,NaN,NaN,NaN,Bins will be outside on Bay street Double Bay...,NaN,Comingle,NaN,13.20,NaN
257841,2407047.0,22/07/20,NaN,13:18,151.197714,-33.888661,3864.0,Kindred Restaurant,NaN,137 Cleveland St,...,NaN,NaN,NaN,NaN,** BIN BEHIND ROLLER SHUTTER IN REAR LANE **,NaN,Comingle,NaN,11.88,NaN